@font-face {
  font-family: "20 Kopeek";
  src: url("../20Kopeek-Book.eot");
  src: url("../20Kopeek-Book.eot?#iefix") format("embedded-opentype"),
    url("../20Kopeek-Book.woff2") format("woff2"),
    url("../20Kopeek-Book.woff") format("woff"),
    url("../20Kopeek-Book.ttf") format("truetype"),
    url("../20Kopeek-Book.svg#20Kopeek-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "20 Kopeek", sans-serif;

}

/* Header */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 31px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header-item,
.header-inner,
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 22px;
  animation-name: scale;
  animation-duration: 1s;
}

.logo-text {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}

.header-actions li {
  list-style-type: none;
  margin: 0 11.5px 0 11.5px;
}

.action-link {
  display: inline-block;
  border: 1px solid #ffffff;
  text-decoration: none;
  font-size: 16px;
  
  color: #ffffff;
  cursor: pointer;
}

.social {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  padding: 10px 10px;
  line-height: 16px;
}

.number {
  border-radius: 15px;
  padding: 7px 27px;
  line-height: 140%;
}

.header-actions li:first-child {
  margin-left: 0;
}

.header-actions li:last-child {
  margin-right: 0;
}

.action-link:hover {
  color: #ffffff;
  background-color: #181818;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.nav-toggle {
  display: none;
  width: 30px;
  padding: 9px 0;
  position: absolute;
  top: 36px;
  right: 39px;
  z-index: 1;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #181818;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background-color 0.2s linear;
}

.nav-toggle__item:before, .nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #181818;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav-toggle__item:before{
  top: -8px;
}

.nav-toggle__item:after{
  bottom: -8px;
}

/* Header */

/* Intro */

.intro {
  background-image: url(../images/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 344px 0 0 0;
}

.intro-title {
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  margin-bottom: 30px;
}

.intro-subtitle {
  font-size: 34px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 65px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  padding: 23px 47px;
  background-color: #ffffff;
  border-radius: 40px;
  margin-right: 20px;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  color: #ffffff;
  background-color: #181818;
  transition: background-color 0.2s linear, color 0.2s linear;
}

/* Intro */

/* Style */

.style {
  padding: 70px 0 148px 0;
}

.style-inner {
  padding-bottom: 141px;
}

.subtitle {
  margin-bottom: 15px;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
}

.style-item {
  display: flex;
  justify-content: space-between;
}

.img{
  display: block;
}

.style-img {
  margin-right: 30px;
}

.text {
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}

.text-style {
  margin-top: -10px;
}

.text-style p:first-child {
  margin-bottom: 25px;
}

/* Style */

/* Elements */

.title {
  font-size: 50px;
  line-height: 100%;
  color: #181818;
}

.elements-inner {
  display: flex;
  padding-bottom: 120px;
}

.item-one {
  margin-right: 104px;
  margin-left: 32px;
}
.item-two {
  margin-right: 80px;
}
.item-three {
  margin-right: 65px;
}
.item-four {
  margin-right: 127px;
}

.item-five {
  margin-right: 60px;
}

.elemenents-title {
  position: relative;
  margin-top: 69px;
}

.elemenents-title span {
  font-size: 55px;
  line-height: 100%;
  color: #181818;

  position: absolute;
  z-index: 1;
  top: -28px;
  left: -35px;
}

.elements-content {
  display: block;
  font-size: 15px;
  line-height: 19px;
}

/* Elements */

/* Price */

.price-inner {
  display: flex;
  justify-content: space-between;
}
.price-text {
  margin: 55px 82px 0 0;
}

.price-text p:first-child {
  margin-bottom: 20px;
}

.price-text span {
  display: block;
  color: #ffffff;
  background-color: #2b59c3;
  border-radius: 5px;
  padding: 11px 13px;
  margin: 20px -7px -11px -13px;
}

/* Price */

/* Brand */

.brand {
  padding-bottom: 150px;
}

.brand-item {
  padding-bottom: 100px;
}

.brand-img img{
  display: block;
  width: 100%;
}

.brand-content {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.brand-title {
  margin-right: 89px;
}

.btn-brand {
  border: 1px solid #181818;
}

.brand-text {
  margin-bottom: 53px;
}

.btn-big {
  color: #ffffff;
  background-color: #2b59c3;
  font-size: 26px;
  line-height: 110%;
  margin: 0 0 0 340px;
}

/* Guideline */

.guideline-inner {
  padding-bottom: 77px;
}

.guideline-item {
  display: flex;
}

.guideline-img{
  margin-right: 30px;
}

.guideline-text p:first-child {
  margin-bottom: 20px;
}

.guideline-text {
  background-color: #2b59c3;
  border-radius: 5px;
  color: #ffffff;
  padding: 11px 11px 11px 14px;
  margin: 0 0 22px -14px;
}

.guideline-text span {
  display: block;
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 14px;
}

/* Guideline */

/* Form */

.form-subtitle {
  margin-bottom: 11px;
}

.middle-text {
  font-size: 26px;
  line-height: 110%;
  color: #181818;
}

.form-flex {
  margin-top: 27px;
  display: flex;
  margin-bottom: 21px;
}

.form-item {
  max-width: 350px;
  margin-right: 30px;
}

.nested {
  flex-grow: 1;
}

.form-item input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #181818;
  border-radius: 10px;
  padding: 27px 29px 27px 29px;
  outline: none;
  font-size: 18px;
  line-height: 140%;
  color: #868686;
}

.form-item input::placeholder {
  font-size: 18px;
  line-height: 140%;
  color: #868686;
}

.form-item label {
  display: none;
}

.form button {
  cursor: pointer;
  border: 0;
}

.btn-blue {
  background-color: #2b59c3;
  color: #ffffff;
}

.form-checkbox label {
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  cursor: pointer;
}

.form-checkbox input {
  margin: 0 11px 0 5px;
  cursor: pointer;
  transform: scale(1.3);
}

.form-checkbox a {
  font-size: 18px;
  line-height: 140%;
  color: #2b59c3;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.form-checkbox a:hover {
  text-decoration: underline;
}
/* Form */

/* Brand */

/* Stages */

.stages-inner {
  padding-bottom: 150px;
}

.stages-inner h2 {
  margin-bottom: 85px;
}

.stages-item {
  display: flex;
  margin-bottom: 60px;
}

.stages-item:last-child {
  margin-bottom: 0;
}

.stages-col {
  margin-right: 30px;
  width: 20%;
}

.firsr-col {
  margin-right: 97px;
  width: 37%;
}

.stages-col img {
  margin-bottom: 22px;
}

.stages-col:last-child {
  margin-right: 130px;
  width: 23%;
}

.stages-content {
  font-size: 15px;
  line-height: 19px;
  color: #181818;
  margin-top: 15px;
}

/* Element-two */

.elements_two-inner {
  display: flex;
}

.element-two {
  background-image: url(../images/elements-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 282px 0 80px 0;
}

.white {
  color: #ffffff;
}

.element {
  margin-right: 65px;
  color: #ffffff;
  width: 20%;
}

.element span {
  color: #ffffff;
}

.elements_two-inner div:first-child {
  margin-left: 32px;
}

.elements_two-inner div:last-child {
  margin-right: 0;
}
/* Element-two */

/* Stages */

/* Footer */

footer {
  padding: 150px 0 20px 0;
}

.footer-col h4 {
  margin-bottom: 30px;
}

.footer_top {
  display: flex;
  padding-bottom: 127px;
}

.footer-col:first-child {
  margin-right: 103px;
}

.footer-col p {
  margin-bottom: 15px;
}

.footer-col address {
  font-style: normal;
}

.footer_top .form-item {
  max-width: 445px;
  margin-right: 0;
}

.footer_top .form-item:first-child {
  margin-bottom: 10px;
}

.footer_top .form-checkbox {
  margin-top: 21px;
  margin-bottom: 48px;
}

.footer-flex {
  display: flex;
  margin-bottom: 38px;
  align-items: flex-start;
}

.footer-item {
  background: #2b59c3;
  margin-right: 30px;
  width: 25%;
  border-radius: 10px;
  padding: 6px 4px 16px 10px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-item .text {
  color: #ffffff;
}

.footer-content {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 25px;
}

.footer-content span{
  display: inline-block;
  margin-top: 6px;
}

/* Footer */

/* Media */


@media only screen and (max-width: 992px)
{

  /* Header */

  .container {
    max-width: 930px;
  }

  header {
    padding-top: 37px;
  }

  .logo {
    margin-right: 20px;
  }

  .logo-text {
    font-size: 14px;
  }

  .header-actions li {
    margin: 0 14px 0 14px;
  }

  /* Header */

  /* Intro */

  .intro {
    padding: 301px 0 0 0;
    min-height: 768px;
    background-position: center;
  }
  
  .intro-title {
    font-size: 45px;
    margin-bottom: 25px;
  }

  .intro-subtitle {
    margin-bottom: 55px;
    font-size: 26px;
  }

  .btn {
    font-size: 16px;
    padding: 19px 47px;
    margin-right: 30px;
  }

/* Intro */

/* Style */

.style {
  padding: 80px 0 120px 0;
}

.style-inner {
  padding-bottom: 120px;
}

.text-style {
  margin-top: 0;
}

.text-style p:first-child {
  margin-bottom: 15px;
}

.style-img{
  min-width: 450px;
}

.img{
  width: 100%;
}

.subtitle {
  font-size: 33px; 
}

.text {
  font-size: 16px;
}

/* Style */

/* Elements */

.title {
  font-size: 44px;
}

.item-one {
  margin-right: 97px;
}

.item-two {
  margin-right: 58px;
}

.item-three {
  margin-right: 80px;
}

.item-four {
  margin-right: 75px;
}

.item-five {
  margin-right: 38px;
}

.elemenents-title {
  margin-top: 66px;
}

.elemenents-title span {
  font-size: 45px;
  top: -22px;
}

/* Elements */

/* Price */

.price-text span {
  padding: 9px 15px;
  margin: 10px 0 -9px -15px;
}

.price-text {
  margin: 45px 30px 0 0;
  width: 41%;
}

.price-photo{
  width: 59%;
}

.price-text p:first-child {
  margin-bottom: 10px;
}

/* Price */

/* Brand */

.brand {
  padding-bottom: 190px;
}

.brand-item {
  padding-bottom: 50px;
}

.brand-title {
  margin-right: 100px;
}

.brand-text {
  margin-bottom: 20px;
}

.btn-big {
  font-size: 20px;
  margin: 0 0 0 315px;
  padding: 23px 47px;
}

/* Brand */

/* Guideline */

.guideline-inner {
  padding: 70px 0 87px 0;
}

.guideline-text p:first-child {
  margin-bottom: 20px;
}

.guideline-img{
 min-width: 530px;
}

.guideline-text {
  padding: 14px 5px 13px 12px;
  margin: 0 0 29px -12px;
}

.guideline-text span {
  font-size: 20px;
  margin-bottom: 14px;
}

/* Guideline */

/* Form */

.form-subtitle {
  margin-bottom: 10px;
}

.middle-text {
  font-size: 20px;
}

.form-flex{
  justify-content: space-between;
  position: relative;
}

.form-item {
  max-width: 450px;
  margin-right: 0;
  width: 100%;
}

.form-item input {
  padding: 18px 29px 20px 21px;
  font-size: 16px;
}

.form-item input::placeholder {
  font-size: 16px;
}

.form-checkbox label {
  font-size: 16px;
}

.form-flex button{
  position: absolute;
  top: 135px;
  left: 0px;
  z-index: 1;
}

/* Form */

/* Stages */

.stages-inner {
  padding-bottom: 120px;
}

.stages-col {
  margin-right: 50px;
  width: 20%;
}

.firsr-col {
  margin-right: 70px;
  width: 37%;
}

.stages-col img {
  margin-bottom: 26px;
}

.stages-col:last-child {
  margin-right: 0;
  margin-left: 30px;
  width: 23%;
}

.stages-content {
  font-size: 14px;
  margin-top: 18px;
}

/* Stages */

/* Element-two */

.element {
  margin-right: 40px;
  color: #ffffff;
  width: 16%;
}

.element-two {
  padding: 97px 0 60px 0;
  background-position: center;
}

.elemenents-title {
  margin-top: 94px;
}

.elements-content{
  margin-top: 0;
}

/* Element-two */

/* Footer */

footer {
  padding: 100px 0 20px 0;
}

.footer_top {
  padding-bottom: 120px;
}

.footer-col:first-child {
  margin-right: 63px;
}

.footer_top .form-item {
  max-width: 370px;
  width: 100%;
}

.footer_top .form-checkbox {
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer-flex {
  margin-bottom: 30px;
}

.footer-item {
  margin-top: 16px;
}

.footer-content {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 27px;
}

.footer-content span{
  display: inline-block;
  margin-top: 18px;
}

/* Footer */

}

@media only screen and (max-width: 768px)
{
/* Header */

header {
  padding-top: 27px;
}

.container {
  max-width: 690px;
}

.logo {
  margin-right: 20px;
}

.header-actions{
  display: none;
}

.nav-toggle {
  display: block;
}

/* Header */

/* Intro */

.intro {
  background-image: url(../images/intro_767px.jpg);
  padding: 307px 0 0 0;
  background-position: center;
  min-height: 1024px;
}

.intro-content{
  display: flex;
  flex-flow: column;
}

.intro-content a:last-child{
  margin-top: 42px;
}

.intro-title {
  color: #ffffff;
}

.intro-subtitle {
  color: #ffffff;
  margin-bottom: 75px;
}

.intro-content a{
  width: 34%;
}

.btn {
  margin-right: 0;
}

/* Intro */

/* Style */

.style {
  padding: 100px 0 120px 0;
}

.style-item {
  display: flex;
  flex-flow: column;
}

.style-item div{
  width: 65%;
}

.style-img {
  margin: 0 0 30px 0;
}

/* Style */

/* Elements */

.elements-inner {
  flex-wrap: wrap;
}

.elements-inner div{
  margin-right: 0;
  padding-right: 100px;
}

.item-one, .item-two, .item-three, .item-four{
  width: 31%;
}

.item-one, .item-four {
  margin-left: 34px;
}

.item-five {
  width: 60%;
}

.elemenents-title {
  margin-top: 43px;
}

/* Elements */

/* Price */

.price-inner {
  flex-flow: column;
}

.price-text {
  order: 2;
  margin: 25px 0 0 0;
  width: 80%;
}

.price-photo {
  width: auto;
}

.price-text span {
  padding: 13px 17px;
  margin: 20px -29px -13px -17px;
}

/* Price */

/* Brand */

.brand {
  padding-bottom: 170px;
}

.brand-content {
  margin-top: 25px;
}

.brand-title {
  margin-right: 70px;
}

.btn-big {
  margin: 0 0 0 235px;
}

/* Guideline */

.guideline-inner {
  padding-bottom: 69px;
  padding-top: 19px;
}

.guideline-item {
  flex-flow: column;
  width: 65%;
}

.guideline-img img{
  width: 10px;
  display: none;
}

.guideline-img{
  background-image: url(../images/guideline_767px.jpg);
  background-repeat: no-repeat;
  margin-right: 0;
  height: 302px;
  width: 100%;
  margin-bottom: 15px;
}

.guideline-img {
  min-width:initial;
}

.guideline-text {
  padding: 11px 20px 13px 15px;
  margin: 0 0 22px -15px;
}

/* Guideline */

/* Form */

.form-subtitle {
  margin-bottom: 15px;
}

.form-flex {
  margin: 30px 0 21px 0;
  flex-flow: column;
}

.form-item {
  margin-right: 0;
}

.form-flex div:first-child{
  margin-bottom: 20px;
}

.form-flex button{
  top: 215px;
}


/* Form */

/* Brand */

/* Stages */

.stages-inner {
  padding-bottom: 90px;
}

.stages-inner h2 {
  margin-bottom: 40px;
}

.stages-item {
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-between;
}

.stages-col {
  margin-right: 0;
  width: 26%;
}

.firsr-col {
  margin-right: 0;
  width: 100%;
  margin-bottom: 18px;
}

.stages-col img {
  margin-bottom: 17px;
}

.stages-col:last-child {
  margin-right: 30px;
  margin-left: 0;
}

/* Element-two */

.elements_two-inner {
  flex-wrap: wrap;
  justify-content: space-between;
}

.element-two {
  padding: 32px 0 21px 0;
}

.element {
  margin-right: 0;
  width: 23%;
}

.elements_two-inner .element:nth-child(4){
  margin-left: 35px;
}

.elements_two-inner .element:last-child{
  width: 59%;
  padding-right: 40px;
}

.elemenents-title {
  margin-top: 64px;
}

.elements_two-inner div:first-child {
  margin-left: 35px;
}

/* Element-two */

/* Stages */

/* Footer */

footer {
  padding: 120px 0 20px 0;
}

.footer_top {
  flex-flow: column;
}

.footer_top .footer-col:last-child{
  margin-top: 61px;
}

.footer-col:first-child {
  margin-right: 0;
}

.footer-flex {
  flex-wrap: wrap;
}

.footer-item {
  width: 32%;
  margin-right: 20px;
  margin-top: 31px;
}

.footer-bottom h4{
  margin-bottom: 0;
}

/* Footer */

}

@media only screen and (max-width: 576px)
{
  
/* Header */

.container {
  max-width: 510px;
}


.logo-text {
  font-size: 12px;
  line-height: 16px;
}

/* Header */

/* Intro */

.intro {
  background-image: url(../images/intro_575.jpg);
  padding: 148px 0 0 0;
  min-height: 496px;
}

.intro-content{
  display: block;
  width: auto;
}

.intro-content a{
  padding: 14.5px 40px;
  margin-right: 15px;
}

.intro-content a{
  width: auto;
}

.intro-content a:last-child {
  margin-top: 0;
}

.intro-title {
  font-size: 30px;
  line-height: 110%;
  margin-bottom: 15px;
}

.intro-subtitle {
  font-size: 20px;
  margin-bottom: 25px;
}

.btn {
  font-size: 15px;
  padding: 14.5px 33px;
  margin-right: 25px;
}

/* Intro */

/* Style */

.style {
  padding: 92px 0 85px 0;
}

.style-inner {
  padding-bottom: 90px;
}

.subtitle {
  font-size: 32px;
}

.style-item div:first-child {
  width: 100%;
}

.text {
  font-size: 15px;
}

.style-img {
  min-width: initial;
}

/* Style */

/* Elements */

.title {
  font-size: 35px;
}

.elements-inner {
  display: block;
  padding-bottom: 71px;
}

.elements-inner div{
  margin-left: 105px;
  padding-right: 100px;
  width: 50%;
}

.elements-inner div:last-child{
  width: 70%;
}

.elemenents-title {
  margin-top: 50px;
}

.item-four p{
  margin-top: 35px;
}

.elemenents-title span {
  font-size: 35px;
  top: -14px;
  left: -105px;
}

.elements-content {
  font-size: 12px;
  line-height: 16px;
}

/* Elements */

/* Price */

.price-text {
  margin: 20px 0 0 0;
}

.price-text {
  width: 74%;
}

.price-text span {
  padding: 10px 15px;
  margin: 20px -41px -10px -15px;
}

/* Price */

/* Brand */

.brand {
  padding-bottom: 170px;
}

.brand-content {
  margin-top: 34px;
  justify-content: space-between;
  margin-bottom: 17px;
}

.brand-title {
  margin-right: 0;
}

.brand-text {
  margin-bottom: 50px;
}

.btn-big {
  font-size: 20px;
  padding: 19.5px 33px;
  margin: 0px 0 0 165px;
}

.brand-item{
  padding-bottom: 50px;
}

/* Guideline */
.guideline-img {
  background-image: url(../images/guideline_575px.jpg);
  height: 308px;
  margin-bottom: 15px;
}

.guideline-item {
  width: 100%;
}

.guideline-item .text{
  width: 85%;
}

.guideline-inner {
  padding-bottom: 100px;
}

.guideline-text {
  padding: 9px 40px 14px 17px;
  margin: 0 0 14px -17px;
}

/* Guideline */

/* Form */

.form-subtitle {
  margin-bottom: 16px;
}

.form-flex {
  margin: 19px 0 11px 0;
}

.form-flex div:first-child {
  margin-bottom: 10px;
}

.form-item{
  max-width: 380px;
}

.form-item input {
  font-size: 15px;
}

.form-item input::placeholder {
  font-size: 15px;
}

.form-checkbox label {
  font-size: 15px;
}

.form-checkbox a {
  font-size: 15px;
}

.form-flex button {
  top: 190px;
}
/* Form */

/* Element-two */

.element-two{
  display: none;
}

/* Element-two */

/* Stages */

.stages-content {
  font-size: 12px;
  line-height: 16px;
}

/* Stages */

/* Footer */

footer {
  padding: 0 0 20px 0;
}

.footer_top {
  padding-bottom: 90px;
}

.footer-flex {
  margin-bottom: 45px;
}

.footer-item {
  width: 44%;
  padding: 6px 4px 16px 10px;
  min-width: 280px;
}

/* Footer */

}

@media only screen and (max-width: 360px)
{
  
/* Header */

.container {
  max-width: 290px;
}

.header-item {
  width: 85%;
}

.nav-toggle {
  top: 36px;
  right: 35px;
}
/* Header */

/* Intro */

.intro {
  background-image: url(../images/intro_360.jpg);
  min-height: 640px;
  padding: 145px 0 0 0;
}

.intro-subtitle {
  margin-bottom: 40px;
}

.btn {
  margin-right: 0;
}

.intro-content{
  display: flex;
  flex-flow: column;
}

.intro-content a{
  width: fit-content;
}

.intro-title{
  order: 1;
}

.intro-subtitle{
  order: 2;
  width: 70%;
}

.intro-content a:last-child {
  order: 3;
}

.intro-content a:first-of-type {
  order: 4;
  margin-top: 34px;
}

/* Intro */

/* Style */

.style {
  padding: 56px 0 101px 0;
}

.style-img {
  min-width: initial;
}

.style-item div {
  width: 100%;
}

/* Style */

/* Elements */

.elements-inner {
  padding-bottom: 140px;
}

.elements-inner div {
  width: 70%;
  padding-right: 0;
  margin-left: 85px;
}

.elements-inner div:last-child {
  width: 70%;
}

.elemenents-title span {
  left: -85px;
}
/* Price */

.price-text {
  width: 100%;
}

.price-text span {
  padding: 13px 13px;
  margin: 13px -13px -13px -13px;
}

/* Price */

/* Brand */

.brand {
  padding-bottom: 181px;
}

.brand-content {
  margin-top: 15px;
  margin-bottom: 11px;
  position: relative;
}

.brand-item {
  padding-bottom: 140px;
}

.btn-brand {
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 0px;
  padding: 14.5px 33px;
}

.brand-content.btn.btn-brand{
  padding: 14.5px 33px;
}

.brand-text {
  margin-bottom: 170px;
}

.btn-big {
  margin: 0 0 0 35px;
}

/* Guideline */

.guideline-inner {
  padding-bottom: 90px;
  padding-top: 0;
}

.guideline-img {
  background-image: url(../images/guideline_360px.jpg);
  height: 174px;
  margin-bottom: 26px;
}

.guideline-item {
  width: 100%;
}

.guideline-text{
  padding: 8px 15px 9px 17px;
  margin: 0 0 24px -17px;
}

/* Guideline */

/* Form */

.form-flex button {
  top: 215px;
}

.form-item{
  max-width: 290px;
}


/* Form */

/* Brand */

/* Stages */

.stages-inner h2 {
  margin-bottom: 35px;
}

.stages-item{
  margin-bottom: 65px;
}

.stages-col {
  width: 45%;
}

.firsr-col{
  width: 100%;
}

.firsr-col img{
  width: 21%;
}

.stages-col img {
  margin-bottom: 13px;
}

.stages-col:last-child {
  margin-top: 26px;
  margin-right: 0;
}

/* Stages */

/* Footer */

.footer-item {
  width: 100%;
  padding: 6px 85px 16px 10px;
  margin-right: 0;
  margin-top: 20px;
}

.footer-item:first-child{
  margin-top: 30px;
}

/* Footer */
}

/* Media */


.intro-content{
  animation: move 2s;
}

@keyframes move {
  0%{
    transform: translateY(-5vh);
  }

  100% {
    transform: translateY(0);
  }
}


.logo{
  animation: logo_move 0.5s;
}

@keyframes logo_move {
  0%{
    transform: scale(0);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}