*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
ul,
h1,
h2,
h3,
h3,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 31px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header-item,
.header-inner,
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 22px;
}

.logo-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}

.header-actions li {
  list-style-type: none;
  margin: 0 11.5px 0 11.5px;
}

.action-link {
  display: inline-block;
  border: 1px solid #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}

.social {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  padding: 10px 10px;
  line-height: 16px;
}

.number {
  border-radius: 15px;
  padding: 7px 27px;
  line-height: 140%;
}

.header-actions li:first-child {
  margin-left: 0;
}

.header-actions li:last-child {
  margin-right: 0;
}

.action-link:hover {
  color: #ffffff;
  background-color: #181818;
  transition: background-color 0.2s linear, color 0.2s linear;
}

/* Header */

/* Intro */

.intro {
  background-image: url(../images/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 344px 0 309px 0;
}

.intro-content {
  max-width: 560px;
}

.intro-title {
  font-weight: normal;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  margin-bottom: 30px;
}

.intro-subtitle {
  font-size: 34px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 65px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  text-decoration: none;
  padding: 23px 47px;
  background: #ffffff;
  border-radius: 40px;
  margin-right: 20px;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  color: #ffffff;
  background-color: #181818;
  transition: background-color 0.2s linear, color 0.2s linear;
}

/* Intro */
